<div class="entry {{color}}">
            
  <div class="header">
      <div class="col-sm-10 padding-0">
        <span class="blue">Titre dépense lorem ipsum doloris in vitumis soretis</span>
        <br>
        CREE LE 12/12/2015
      </div>
      <div class="col-sm-2 padding-0 text-right">
        <a class="ico40X40 edit"></a>
        <a class="ico40X40 move"></a>
        <a class="ico40X40 remove"></a>
      </div>
      <div class="clearfix"></div>
  </div>

  <div class="body">
    <p>
      Descriptif sit amet, consectetur adipiscing elit. Morbi id mauris dui. Vivamus facilisis augue sit amet pretium sollicitudin. Maecenas vulputate arcu a ipsum pharetra volutpat.
    </p>
  </div>

   <div class="footer">
    
    <div class="col-sm-8 left">
      <div class="amount">
        <div class="col-sm-2">
          MONTANT
        </div>
        <div class="col-sm-5 start">
            Echéance prévu le 15/07/15
        </div>
        <div class="col-sm-5">
          Acompte du 05/07/15 : 10000,00€
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="col-sm-4 right padding-left-0">
      <div class="arrow"></div>
      + 503,90 € 
    </div>

    <div class="clearfix"></div>

   </div>

</div>