 <div class="resume row-fluid">
  <div class="col-sm-8 left">
 	<div class="col-sm-9 padding-0">
 		Mon budget au 05/07/15 : <b>25000,00 €</b>
 		<br>
 		<b>Vous n’avez aucune dépense qui arrive à échéance.</b>
 	</div>     
 	<div class="col-sm-3 padding-0">
 		Redefinir mon budget 
 	</div>
 	<div class="clearfix"></div>
  </div>
  <div class="col-sm-4 right padding-0">
    <div class="arrow"></div>
    + 503,90 € 
  </div>

  <div class="clearfix"></div>
  
</div>