{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingCoupleBundle::layout.html.twig" %}

{% block my_wedding_main_content %}

    
        
     

            <div class="col-md-10">
                <div class="col-md-4">
                    <div class=" box border-bottom-1 padding-10">
                     Bloc 3
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" box border-bottom-1 padding-10 ">
                     Bloc 4
                    </div>
                    <div class=" box border-bottom-1 padding-10  margin-top-30">
                     Bloc 5
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class=" box border-bottom-1 padding-0">
                     <div id="date-wedding" class="date"></div>
                    </div>
                    <div class=" box border-bottom-1 padding-10  margin-top-30">
                     Bloc 5
                    </div>
                </div>
            </div>
       
    </div>
                        

{% endblock %}