{# src/Wedding/PlatformeBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  MyWedding - {{ parent() }}
{% endblock %}

{% block body %}

        {{ render(controller('MyWeddingProfileBundle:Profile:upload')) }}

     <div class="clearfix"></div>
    <div class="container ">
    {{ render(controller('MyWeddingTemplateBundle:Template:side')) }}

	  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
	  {% block my_wedding_main_content %}
	  {% endblock %}
	</div>
  <div class="clearfix"></div>
  
{% endblock %}

