{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% block title %}My wedding planning{% endblock %}</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="{{asset('bundles/MyWedding/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/MyWedding/css/mywedding.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/MyWedding/css/jquery-ui.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/MyWedding/css/jquery.select.css')}}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{asset('bundles/MyWedding/css/jquery.dataTables.css')}}">
  {% endblock %}
</head>

<body class="{% if is_granted('ROLE_COUPLE') %}couple{% endif %}">

    
    {{ render(controller('MyWeddingTemplateBundle:Template:header')) }}

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block body %}
    {% endblock %}
    
    {{ render(controller('MyWeddingTemplateBundle:Template:footer')) }}

    {% block javascripts %}
      {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
      <script src="{{asset('bundles/MyWedding/js/jquery.min.js')}}"></script>
      <script src="{{asset('bundles/MyWedding/js/jquery-ui.js')}}"></script>
      <script src="{{asset('bundles/MyWedding/js/bootstrap.min.js')}}"></script>
      <script src="{{asset('bundles/MyWedding/js/jquery.dataTables.js')}}"></script>
      <script src="{{asset('bundles/MyWedding/js/jquery.select.js')}}"></script>
      <script src="{{asset('bundles/MyWedding/js/jquery.allfunctions.js')}}"></script>

    {% endblock %}

</body>
</html>