{# src/Sdz/UserBundle/Resources/views/Security/login.html.twig #}

{% extends "MyWeddingUserBundle::layout.html.twig" %}

{% block body %}
    
    <div class="container">
        <div class=" margin-top-30">
            
            <div id="step" class="col-xs-12 col-sm-8 padding-right-20 padding-left-0 xs-padding-0">

                <div class="box border-bottom-1 form-container">
                    {# S'il y a une erreur, on l'affiche dans un joli cadre #}

                    <h2>Connectez vous</h2>

                   {% if error %}
                       <span class="error"><b>Oops !</b> {{ error.messageKey|trans(error.messageData, 'security') }}</span>
                   {% endif %}


                    {{ render(controller('MyWeddingUserBundle:Security:login', {'type':'main'}))}}
                    <hr>

                     <h2>Créez votre compte</h2>

                    {{ render(controller('MyWeddingUserBundle:Security:register', {'type':'main'}))}}
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 padding-right-0 padding-left-10 xs-padding-0 xs-margin-top-30">
                <div id="form-connexion-social" class="padding-left-10 text-center">
                    <h2>Se connecter avec mon compte</h2>
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a class="ico100X100 {{owner}} margin-right-15 margin-left-15" href="{{ hwi_oauth_login_url(owner) }}"></a> 
                    {% endfor %}
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}