{# Le formulaire est exactement le même que dans "login", seul la présentation diffère un peu,
   On ne met pas de label aux champs, mais des placeholders #}

{% if type=='main' %}
    {% set class = 'col-xs-12 col-md-4' %}        
{% else %}  
    {% set class = 'col-xs-3' %}
{% endif %}  

<div class="row">
    <div class="padding-top-10 padding-bottom-10">
        <form class="form-inline" action="{{ path("fos_user_security_check") }}" method="post">
            <div class="form-group {{class}}">
                <label class="sr-only" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input type="text" class=" col-xs-12" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}">
            </div>
            <div class="pull-left hidden-xs and">&</div>
            <div class="form-group {{class}}">
                <label class="sr-only" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input type="password" class="col-xs-12 " id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}">
                {% if type=='header' %}
                  <p> <a class="white small" href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a></p>
                {%endif%}    
            </div>
            <div class="checkbox {% if type=='header' %}col-xs-2{%else%}col-xs-6 col-md-3 margin-0{%endif%}">
               <label for="remember_me" class="checkbox margin-0 col-xs-12">
                <input type="checkbox" id="remember_me" class="margin-right-10" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
              </label>
              {% if type=='main' %}
                <p> <a class="pink small" href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a></p>
              {%endif%}
            </div>
    
            <div class=" {% if type=='main' %}col-xs-6 col-md-4{% endif %}">
              <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
              <button type="submit" id="_submit" class="btn  upper {% if type=='header' %}btn-xs{%else%} col-xs-12 btn-default arrow2{%endif%}" name="_submit" >{{ 'security.login.submit_OW'|trans({}, 'FOSUserBundle') }}</button>

                {% if type=='header' %}
                <div id="close" class="col-sm-2 pull-right">
                    Fermer <span class="ico20X20 close"></span>
                </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>