
{% form_theme form_register.email 'MyWeddingUserBundle:Form:error.html.twig' %}
 {{ form_errors(form_register.email) }}

        
        <form method="post" action="{{ path("fos_user_security_login") }}" {{ form_enctype(form_register) }}  class="padding-top-20">
            <div class="row">
                {%if type == 'home' %}
                    <div class="col-xs-12">
                      <div class="input-group">
                        {{ form_widget(form_register.email) }}
                        {{ form_widget(form_register._token) }}
                        <span class="input-group-btn">
                          <button class="btn btn-default square arrow" type="submit"></button>
                        </span>
                      </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                {%else%}
                    <div class="col-xs-12 col-md-6">
                        {{ form_widget(form_register.email) }}
                        {{ form_widget(form_register._token) }}
                        
                    </div><!-- /.col-lg-6 -->
                    <div class="col-xs-12 col-md-6">
                        <button class="btn upper btn-default hidden-xs" type="submit">Créer mon compte</button>
                        <button class="btn upper btn-default visible-xs margin-top-10 pull-right" type="submit">Créer mon compte</button>
                    </div>
                {%endif%}
            </div><!-- /.row -->


         </form>
