#budget { font-family: 'kelson_sansregular'; font-size: 13px;}
#budget b {font-family: 'kelson_sansregular'; }
#budget .blue{color: #5ec3e1;}

#budget .resume, #budget .adding{border:1px solid #9b9ea3; font-family: 'kelson_sanslight';}
#budget .resume{}
#budget .resume .left{padding:20px;height: 90px;background-color: #9b9ea3; color: #fff; }
#budget .resume .left .col-sm-9{font-size: 17px; }
#budget .resume .left .col-sm-3{font-size: 16px; line-height: 50px; }

#budget .right{ font-family: 'kelson_sanslight';color: #24daac; line-height: 90px; font-size: 34px; text-align: center;}

#budget .arrow {position: relative;background: #9b9ea3;}
#budget .arrow:after {left: 0;top: 0;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-left-color: #9b9ea3;border-width: 45px;}

#budget .adding{margin-top:20px; padding: 20px; font-size: 18px;}

#budget .entries{padding: 20px; background-color: #f0f2f5; margin: 20px 0;}
#budget .entries .entry{background: #FFF; border-bottom: 1px solid #cccccc; margin-bottom: 20px;}
#budget .entries .entry .header {padding:10px; padding-bottom: 5px; font-size: 15px;line-height: 25px; }
#budget .entries .entry .body {padding:10px; padding-top: 0; }

#budget .entries .entry .footer{border-top: 1px solid #cccccc; padding:1px 0; }
#budget .entries .entry .footer .left{height: 50px;}
#budget .entries .entry .footer .left .amount{height: 20px; margin: 15px 0;line-height: 20px; color: #FFF;}
#budget .entries .entry .footer .left .amount .col-sm-2{text-transform: uppercase; font-size: 18px;;padding: 0;}
#budget .entries .entry .footer .left .amount .col-sm-5{padding-left: 10px; padding-right: 0; }
#budget .entries .entry .footer .left .amount .col-sm-5.start{text-align:right; padding-right:10px; border-right: 1px solid #FFF}

#budget .entries .entry .footer .right{line-height: 50px; font-size: 28px; text-align: center;    text-align: right;}
#budget .entries .entry .arrow:after{border-width: 25px;}

#budget .entries .entry.orange .footer .left{height: 50px; background: #fd944e;}
#budget .entries .entry.orange .footer .right{color: #fd944e;}
#budget .entries .entry.orange .arrow{background: #fd944e; }
#budget .entries .entry.orange .arrow:after{border-left-color: #fd944e; }

#budget .entries .entry.grey .footer .left{height: 50px; background: #9b9ea3;}
#budget .entries .entry.grey .footer .right{color: #9b9ea3;}
#budget .entries .entry.grey .arrow{background: #9b9ea3; }
#budget .entries .entry.grey .arrow:after{border-left-color: #9b9ea3; }

#budget .entries .group{background-color: #ffF;}
#budget .entries .group > .header { line-height: 50px; background-color: #5ec3e1; text-transform: uppercase; font-size: 18px; color: #FFF}

#budget .entries .group .body .entry{margin:0;}
#budget .entries .group > .footer {padding: 20px 10px; font-family: 'kelson_sanslight';font-size: 28px; text-align: right; color: #9b9ea3;	}

.modal-content .modal-header{padding: 0; padding-bottom: 15px;}
.modal-content .modal-header .modal-title{color:#5ec3e1; font-family: 'kelson_sanslight';font-size: 28px;}
.modal-content .section-budget{text-align:center;  color: #CCC;  border: 5px solid #CCC; display: block; padding:10px 0;}
.modal-content .section-budget.active, .modal-content .section-budget:hover{background-color:#5ec3e1; border-color: #5ec3e1; color: #FFF;  }
.active .ico70X70.expense, .section-budget:hover .ico70X70.expense{background-position:-140px -70px;}
.active .ico70X70.category,.section-budget:hover .ico70X70.category{background-position:-210px  -70px;}
.modal-content .section-budget .libelle{text-transform: uppercase; font-size: 16px;}
