{% trans_default_domain 'FOSUserBundle' %}
{% if app.user.getFacebookId() == false %}
<form action="{{ path('my_wedding_couple_account') }}" {{ form_enctype(formPassword) }} method="POST" class="fos_user_change_password">
    {{ form_widget(formPassword) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
{% endif %}