/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 janv. 2015, 22:13:07
    Author     : streetcolor
*/
/*HELPERS*/

@font-face {
    font-family: 'futura_medium';
    src: url('../fonts/futura/futura-medium-webfont.eot');
    src: url('../fonts/futura/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura-medium-webfont.woff2') format('woff2'),
         url('../fonts/futura/futura-medium-webfont.woff') format('woff'),
         url('../fonts/futura/futura-medium-webfont.ttf') format('truetype'),
         url('../fonts/futura/futura-medium-webfont.svg#futura_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kelson_sansbold';
    src: url('../fonts/kelson/kelson_sans_bold-webfont.eot');
    src: url('../fonts/kelson/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson/kelson_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/kelson/kelson_sans_bold-webfont.woff') format('woff'),
         url('../fonts/kelson/kelson_sans_bold-webfont.ttf') format('truetype'),
         url('../fonts/kelson/kelson_sans_bold-webfont.svg#kelson_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kelson_sansregular';
    src: url('../fonts/kelson/kelson_sans_regular-webfont.eot');
    src: url('../fonts/kelson/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson/kelson_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/kelson/kelson_sans_regular-webfont.woff') format('woff'),
         url('../fonts/kelson/kelson_sans_regular-webfont.ttf') format('truetype'),
         url('../fonts/kelson/kelson_sans_regular-webfont.svg#kelson_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kelson_sanslight';
    src: url('../fonts/kelson/kelson_sans_light-webfont.eot');
    src: url('../fonts/kelson/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kelson/kelson_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/kelson/kelson_sans_light-webfont.woff') format('woff'),
         url('../fonts/kelson/kelson_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/kelson/kelson_sans_light-webfont.svg#kelson_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.border-left-1{border-left: 1px #CCC solid;}
.border-right-1{border-right: 1px #CCC solid;}
.border-bottom-1{border-bottom: 1px #bebebe solid;}
.border-top-1{border-top: 1px #ff7cb0 solid;}

.padding-0{padding:0!important;}
.padding-left-0{padding-left:0px!important;}
.padding-right-0{padding-right:0px!important;}
.padding-bottom-0{padding-bottom:0px!important;}
.padding-top-0{padding-top:0px!important;}
.padding-left-5{padding-left:5px!important;}
.padding-top-5{padding-top:5px!important;}
.padding-bottom-5{padding-bottom:5px!important;}
.padding-right-5{padding-right:5px!important;}
.padding-10{padding:10px;}
.padding-left-10{padding-left:10px!important;}
.padding-right-10{padding-right:10px!important;}
.padding-bottom-10{padding-bottom:10px!important;}
.padding-top-10{padding-top:10px!important;}
.padding-15{padding: 15px!important;}
.padding-left-15{padding-left:15px!important;}
.padding-right-15{padding-right:15px!important;}
.padding-bottom-15{padding-bottom:15px!important;}
.padding-top-15{padding-top:15px!important;}
.padding-20{padding: 20px;}
.padding-left-20{padding-left:20px!important;}
.padding-right-20{padding-right:20px!important;}
.padding-bottom-20{padding-bottom:20px!important;}
.padding-top-20{padding-top:20px!important;}
.padding-left-25{padding-left:25px!important;}
.padding-right-25{padding-right:25px!important;}
.padding-top-30{padding-top:30px!important;}
.padding-left-30{padding-left:30px!important;}
.padding-right-30{padding-right:30px!important;}
.padding-left-35{padding-left:35px!important;}
.padding-right-35{padding-right:35px!important;}
.padding-bottom-35{padding-bottom:35px!important;}
.padding-top-35{padding-top:35px!important;}
.padding-left-40{padding-left:40px!important;}
.padding-right-40{padding-right:40px!important;}
.padding-left-45{padding-left:45px!important;}
.padding-right-45{padding-right:45px!important;}
.padding-left-50{padding-left:50px!important;}
.padding-right-50{padding-right:50px!important;}

.margin-0, .no-margin{margin: 0}
.margin-left-10{margin-left:10px!important;}
.margin-right-10{margin-right:10px!important;}
.margin-left-0{margin-left:0px!important;}
.margin-right-0{margin-right:0px!important;}
.margin-top-5{margin-top: 5px!important;}
.margin-bottom-5{margin-bottom: 5px!important;}
.margin-top-10{margin-top: 10px!important;}
.margin-bottom-10{margin-bottom: 10px!important;}
.margin-right-15{margin-right: 15px!important;}
.margin-left-15{margin-left: 15px!important;}
.margin-top-15{margin-top: 15px!important;}
.margin-bottom-15{margin-bottom: 15px!important;}
.margin-top-20{margin-top: 20px!important;}
.margin-bottom-20{margin-bottom: 20px!important;}
.margin-left-30{margin-left: 30px!important;}
.margin-right-30{margin-right: 30px!important;}
.margin-top-30{margin-top: 30px!important;}
.margin-bottom-30{margin-bottom: 30px!important;}
.margin-top-50{margin-top: 50px!important;}
.margin-bottom-50{margin-bottom: 50px!important;}

.no-background{background-image: none!important;}
.box{background-color: #FFF;}
.none{display: none;}
.relative{position: relative;}

h1{height: 45px; line-break: 45px; margin: 0; font-family: kelson_sanslight;  background-image: url('../img/hr/hr_sprite_6X6.png'); background-position: top; text-align: center; color: #ff7cb0;}
h1.secondary, span.secondary {display:block; height: 25px; font-size:28px; line-height: 1;  line-break: 285px; margin: 0; background-image: url('../img/hr/hr_sprite_6X6.png'); background-position: center  -90px; text-align: center; color: #ff7cb0; text-transform: uppercase; font-weight: bold;}
span.secondary.small { background-position: center  -115px; text-align: center; color: #ff7cb0;   text-align: center;  text-transform: none;}
h2{ text-align: center; color: #ff7cb0; margin: 0; font-size: 30px; font-weight: normal;}

.title{display: block; padding-bottom: 15px; border-bottom: 1px #ff7cb0 solid; color: #bebebe}

.grey{color:#6d6d6d}
.pink{color:#ff7cb0}
.white{color:#FFF}

.uppercase{text-transform: uppercase;}
.small{font-size: 10px;}

.floatNone{float: none;}
/*END HELPERS*/

/*ICO*/
.ico20X20{display: inline-block; height: 20px; width: 20px; background-image: url('../img/ico/ico_sprite_20X20.png'); background-repeat: no-repeat;}
.ico20X20.home{background-position: 0 0; vertical-align: text-top;}
.ico20X20.close{background-position: -20px 0; vertical-align: text-top;}

.ico35X35{display: inline-block; height: 35px; width: 35px; background-image: url('../img/ico/ico_sprite_35X35.png'); background-repeat: no-repeat;}
.ico35X35.facebook{background-position: 0 0;}
.ico35X35.twitter{background-position:-35px;}
.ico35X35.instagram{background-position:-70px;}
.ico35X35.youtube{background-position:-105px;}
.ico35X35.pinterest{background-position:-140px;}
.ico35X35.google{background-position:-175px;}

.ico40X40{vertical-align:middle; display: inline-block; height: 40px; width: 40px; background-image: url('../img/ico/ico_sprite_40X40.png'); background-repeat: no-repeat;}
.ico40X40.dashboard{background-position: 0 0;}
.ico40X40.profil{background-position:-40px 0;}
.ico40X40.planning{background-position:-80px 0;}
.ico40X40.guest{background-position:-120px 0;}
.ico40X40.budget{background-position:-160px 0;}
.ico40X40.gift{background-position:-200px 0;}
.ico40X40.address{background-position:-240px 0;}
.ico40X40.forum{background-position:-280px 0;}
.ico40X40.help{background-position:-360px 0;}
.ico40X40.chart{background-position:-400px 0;}
.ico40X40.message{background-position:-440px 0;}
.ico40X40.notification{background-position:-480px 0;}
.ico40X40.remove{background-position:0 -80px;}
.ico40X40.edit{background-position:-40px -80px;}
.ico40X40.move{background-position:-80px -80px;}
.ico40X40.add{background-position:-120px -80px;}


.ico40X40.xs{height: 30px; width: 30px; background-size:390px 60px, cover; }
.ico40X40.dashboard.xs{background-position: 0 0;}
.ico40X40.profil.xs{background-position:-30px 0;}
.ico40X40.planning.xs{background-position:-60px 0;}
.ico40X40.guest.xs{background-position:-90px 0;}
.ico40X40.budget.xs{background-position:-120px 0;}
.ico40X40.gift.xs{background-position:-150px 0;}
.ico40X40.address.xs{background-position:-180px 0;}
.ico40X40.forum.xs{background-position:-210px 0;}
.ico40X40.help.xs{background-position:-240px 0;}
.ico40X40.chart.xs{background-position:-270px 0;}
.ico40X40.message.xs{background-position:-300px 0;}
.ico40X40.notification.xs{background-position:-330px 0;}

#side ul a:hover .ico40X40.dashboard, .ico40X40.dashboard.white{background-position: 0 -40px;}
#side ul a:hover .ico40X40.profil, .ico40X40.profil.white{background-position:-40px -40px;}
#side ul a:hover .ico40X40.planning, .ico40X40.planning.white{background-position:-80px -40px;}
#side ul a:hover .ico40X40.guest, .ico40X40.guest.white{background-position:-120px -40px;}
#side ul a:hover .ico40X40.budget, .ico40X40.budget.white{background-position:-160px -40px;}
#side ul a:hover .ico40X40.gift, .ico40X40.gift.white{background-position:-200px -40px;}
#side ul a:hover .ico40X40.address, .ico40X40.address.white{background-position:-240px -40px;}
#side ul a:hover .ico40X40.forum, .ico40X40.forum.white{background-position:-280px -40px;}
#side ul a:hover .ico40X40.help, .ico40X40.help.white{background-position:-360px -40px;}
#side ul a:hover .ico40X40.chart, .ico40X40.chart.white{background-position:-400px -40px;}
#side ul a:hover .ico40X40.message, .ico40X40.message.white{background-position:-440px -40px;}
#side ul a:hover .ico40X40.notification, .ico40X40.notification.white{background-position:-480px -40px;}
.ico40X40.remove.white{background-position:0 -120px;}
.ico40X40.edit.white{background-position:-40px -120px;}
.ico40X40.move.white{background-position:-80px -120px;}

.ico45X45{display: inline-block; height: 45px; width: 45px; background-image: url('../img/ico/ico_sprite_45X45.png')!important; background-repeat: no-repeat;}
.ico45X45.couple{background-position: 0 0; vertical-align: text-top;}
.ico45X45.close{background-position: -45px 0; vertical-align: text-top;}

.ico60X60{display: inline-block; height: 60px; width: 60px; background-image: url('../img/ico/ico_sprite_60X60.png'); background-repeat: no-repeat;}
.ico60X60.step1{background-position: 0 0; vertical-align: text-top;}

.ico70X70{display: inline-block; height: 70px; width: 70px; background-image: url('../img/ico/ico_sprite_70X70.png');  background-repeat: no-repeat;}
.ico70X70.facebook{background-position: -70px 0;}
.ico70X70.google{background-position:0 0;}
.ico70X70.expense{background-position:-140px 0;}
.ico70X70.category{background-position:-210px 0;}

.ico100X100{display: inline-block; height: 100px; width: 100px; background-image: url('../img/ico/ico_sprite_100X100.png');  background-repeat: no-repeat;}
.ico100X100.facebook{background-position: -100px 0;}
.ico100X100.google{background-position:0 0;}

body{background-color: #f1eee9; color: #555555; font-family: kelson_sansregular; font-size: 13px; color: #555555;}
body.couple{background-color: #fff;}

#header{ background-color: #FFF; }
#header #connect{background:#404040;height: 60px; cursor: pointer; text-transform: uppercase;font-size: 12px;margin-top:-5px; border:5px solid #ededed; border-top:none ;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px; color: #FFF; line-height: 45px; position: relative; padding-right: 10px;}
#close{height: 25px; line-height:27px; text-align: right; color: #a9a9a9;font-size:11px }
#close .close{margin-top:3px; margin-left: 10px;}
#header #social{line-height: 85px; height: 60px}

#header.connected .row > .col-md-2{height: 60px; padding:10px; border-right:1px solid #ccc;}

.carousel .inscription{width: 305px; position: absolute; top: 40px; right:100px; z-index: 1; font-size: 13px;}
.carousel .inscription .top{height: 115px; background: url("../img/bg/bg_home_inscription_top.png") no-repeat center bottom; background-size: contain; -webkit-background-size: contain;}
.carousel .inscription .center{background: url("../img/bg/bg_home_inscription_center.png") center bottom; background-size: contain; -webkit-background-size: contain; height: 230px;  padding: 10px 22px 20px 20px; }
.carousel .inscription .center p{margin:0;}
.carousel .inscription .bottom{height: 40px; background: url("../img/bg/bg_home_inscription_bottom.png")no-repeat center top; background-size: contain; -webkit-background-size: contain; } 
.carousel .inscription .center .secondary{color: #000;}

.carousel .carousel-control.left, .carousel-control.right{background: none;background-color: #c9e8f0; height: 60px; width: 40px; position: absolute; top:200px; z-index: 1;  }
.carousel .carousel-indicators{height: 40px; background-color: #cfedf6; color: #FFF; border-bottom: 1px solid #bebebe}
.carousel .carousel-inner{height:460px; background-color:#5ec3e1}
.carousel .carousel-inner .container{padding-left:80px; color:#FFF; height: 460px; background-image: url("../img/bg/bg_home_viewer.png"); background-repeat: no-repeat; background-position: top left;}
.carousel .carousel-inner .container .inner{width: 300px;}
.carousel .carousel-inner .container .title-primary{font-size: 65px; font-family: futura_medium; display: block; line-height: 1; margin-top: 60px;}
.carousel .carousel-inner .container .title-secondary{font-size:45px;  font-family: futura_medium;display: block; line-height: 1}
.carousel .carousel-inner .container hr{border: none; border-bottom: 1px solid #fff;}
.carousel .carousel-inner .container .btn.filaire{line-height: 27px!important;}
.carousel .carousel-inner .container .btn.filaire span{border:2px solid #fff;}

#form-connexion-social h2{text-align: center; font-size: 26px; color:white; text-transform:none; font-family:'kelson_sanslight'; margin-bottom: 15px;  font-weight: 100}
#form-connexion-social{ background-color: #ed6ea0; text-transform: uppercase; padding:15px; 10px;  }
#form-connexion-header{ background: #404040; text-transform: uppercase; border-bottom: 5px #ededed solid; }

.form-container{  text-transform: uppercase; }
.form-container .error{color:#ed6ea0; font-size: 17px; font-family:'kelson_sanslight'; text-transform: none;}
.form-container .error { font-family:'kelson_sansregular'; display: block;}
.form-container  input[type="text"], .form-container  input[type="password"],  .form-container  input[type="email"]{height:40px;} 
.form-container .and{font-size: 25px; color: #acacac;}
.form-container h2{text-align: left; font-size: 36px; text-transform:none; font-family:'kelson_sanslight'; margin-bottom: 15px;  font-weight: 100}
.form-container  .btn{height:40px;}

#form-connexion label{color: #FFF;padding: 0}
#form-connexion p{margin: 0;}
#form-connexion .checkbox{line-height: 25px;}
#form-connexion input[type="email"],#form-connexion input[type="text"], #form-connexion input[type="password"]{border: 1px solid #bebebe; height: 25px;}
#form-connexion .btn{height: 25px;}
#form-connexion .and{font-size: 20px; color: #acacac;}

#step > .box{padding: 15px 10px;}
#dashboard .box{min-height: 170px;}
#step .inner{background-color: #f0f2f5; padding: 10px;}
#step .inner h2{font-size: 24px; margin-bottom: 15px;}
#step .inner .box{padding:20px 20px 40px; margin-bottom: 30px; position: relative; }
#step .inner .box > .step{position: absolute; bottom: -25px; color: #FFF;  left: 50%; margin-left: -25px; height: 50px; width: 50px; background-image: url('../img/bg/bg_sprite_50X50.png'); background-repeat: no-repeat; line-height: 50px; font-size: 30px;}

#process{height: 175px;}
#process > .col-sm-3{background-repeat: no-repeat; height: 175px; background-color: #f28ab2; background-image: url("../img/bg/bg_process_arrow.png"); background-position: right;}
#process p{margin: 0;}

#guest{ height: 210px; background-image: url("../img/bg/bg_zone_guest.gif");}
.guest-status-container{padding:0 10px!important; border:1px solid #ddd; border-top:none;background-color: #f1f1f1;   background-color: #f1f1f1;list-style-position: outside;list-style-type: none;}
.guest-status-container li{margin: none;   padding: 0;  line-height: 50px;}
#main .nav.nav-tabs a{margin:0; height: 80px; -webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; font-size: 25px; text-transform: uppercase; font-family: kelson_sanslight;   line-height: 60px;  text-align: center;}

.guest-status{width: 20px; height: 20px;-webkit-border-radius: 15px;margin:auto;
-moz-border-radius: 15px;
border-radius: 15px; display: block;}
.guest-status-container .guest-status{vertical-align: text-bottom; display: inline-block; margin-right: 15px;}

.guest-status.status-0{background-color:#ffffff;}
.guest-status.status-1{background-color:#ff8e01;}
.guest-status.status-2{background-color:#f14939;}
.guest-status.status-3{background-color:#fcdf64;}
.guest-status.status-4{background-color:#a4de22;}
#addRelation i{font-size: 40px!important;line-height: 35px;}

#prestataire{background-image: url("../img/bg/bg_home_prestataire.jpg"); background-repeat: no-repeat; background-position: bottom;}
#prestataire #title{text-align: left; color:#fff; background-color: #f28ab2; background-image: url("../img/bg/bg_home_prestataire_title.gif"); background-repeat: no-repeat; background-position: right; font-size: 28px;    font-family: kelson_sansregular;  font-weight: normal;   height: 90px;  padding: 15px 15px 15px 30px;   text-align: left;  text-transform: uppercase;}
#prestataire .box{margin: 20px; padding: 20px;}

#aide a{font-size: 16px; text-transform: uppercase;}

#footer{background-color: #444444; border-top: 3px #ff7cb0 solid; padding-top: 60px; padding-bottom: 50px; margin-top: 70px; color: #bdc2c6; font-size: 16px;}
#footer #copyright{margin-top: 200px; font-size: 14px; font-family: kelson_sanslight}
#footer .title{font-size: 18px;}
#footer .btn{padding: 0!important;}

#intro{background-color: #5ec3e1; height: 245px;}
#intro img{border:10px solid #a7deef; margin-top:30px}
#intro h1{color: #FFF; padding: 30px 0; height:180px; font-family: kelson_sanslight; font-size: 65px; line-height: 1}
#intro ul, #side ul li{list-style: none; padding: 0; margin: 0}
#intro ul a{line-height: 1;color: #333; padding: 10px 5px; display: block;height: 60px;}

#progress-bar{height: 5px; width: 0; ; background: #ff7cb0;}

#main h2{ font-family: kelson_sansregular; font-size: 20px;}
#side{text-transform: uppercase; font-weight: 14px; min-height: 300px; background-color:#677280; border-top:1px solid #CCC;}
#side ul, #side ul li{list-style: none; padding: 0; margin: 0}
#side ul li{ border-bottom: 1px solid #CCC}
#side ul a{line-height: 1;color: #333; padding: 10px 5px; display: block;height: 60px;}
#side ul li span{margin-right: 10px;}
#side ul a:hover{background-color: #5ec3e1; color: #FFF;}

#menu-top{border-top: 1px solid #FFF;}
#menu-top li{margin: 0;}
#menu-top  a{color:#FFF!important; font-size: 14px; padding: 10px 0 !important; }

#date-wedding .ui-datepicker{width: 100%;}
#date-wedding .ui-datepicker-header{background-color: #5ec3e1; height: 50px;}
#date-wedding .ui-datepicker.ui-widget{padding: 0; text-align: center;}
#date-wedding thead{background-color: #d7d7d7; color: #FFF;height: 50px;}
#date-wedding .ui-state-default{border: none;background: #FFF;}
#date-wedding .ui-state-active, #date-wedding .ui-state-hover{background-color: #ed6ea0; border: none; color: #FFF;}
#date-wedding .ui-state-active, #date-wedding .ui-state-hover, #date-wedding .ui-state-default{  border-radius: 30px;
  height: 30px;
  width: 30px;
  line-height:24px; text-align: center; 
}
/*FIXED FOR BOOTSTRAP*/


.modal-content {
  border-radius: 0;
  padding: 20px;
}
.modal-content .close{  filter: alpha(opacity=100);opacity: 1;position: absolute;top: -45px;right: -45px;}

.navbar-nav > li > a {padding: 10px 0;height: 35px; line-height: 1;}
.navbar-collapse{padding:0;}
.navbar-default{background: none; border: none; border-top: 1px solid #CCC; padding-top: 15px; font-size: 14px; text-transform: uppercase;  }
.navbar-default .navbar-nav li{padding-bottom: 5px; margin-left: 20px; margin-right: 20px; }
.navbar-default .navbar-nav > .active{border-bottom: 2px #ff7cb0 solid; }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #fff;
}

a.guest{padding-left: 35px; background-image: url("../img/bg/bg_menu_guest.png"); color: #FFF; display: block; float: right;  height: 50px; line-height: 43px; position: absolute; right: 20px;text-align: center;top: 10px;width: 188px;}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #f1f1f1;
}


.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-family: kelson_sanslight;
 
}


.btn{padding: 0; padding-left: 10px; border: none;border-radius: 0;color: #FFF;background-repeat: no-repeat; background-position: right top; font-size: 16px;  }
.btn.upper{text-transform: uppercase}
.btn.pink{background-color: #ff7cb0!important;}
.btn.arrow{ background-position: right 0;}
.btn.arrow2{ background-position: right -80px;}
.btn.filaire {background-color: transparent; border: 2px solid #FFF;  background-image: none; padding:10px 5px !important}
.btn.double{line-height: 30px; padding: 10px;  background-image: none;}
.btn.double > span{border: 1px solid #FFF; padding:5px 10px;}
.btn.square {height: 40px; width: 40px; padding: 0;}
.btn.square.check{ background-position: right 0px;}
.btn.square.arrow{ background-position: right -40px;}



.btn-xs,
.btn-group-xs > .btn {
  font-size: 12px;
  line-height: 25px;
  background-color: #ed6ea0;
  background-image: url("../img/btn/btn_sprite_25X25.png"); 
  background-position:right -1px;
  height: 23px; padding-right: 30px; 
}

.btn-lg,
.btn-group-lg > .btn {
  line-height: 50px;
  background-color: #ff7cb0;
  background-image: url("../img/btn/btn_sprite_50X50.png");
  height: 50px;padding-right: 60px;
}

.btn-default {
  line-height: 36px;
  background-color: #ed6ea0;
  background-image: url("../img/btn/btn_sprite_40X40.png");
  height: 40px;padding-right: 50px;
  
}

.bootstrap-select .btn-default {background-image: none;  background-color: transparent;border: 1px solid #CCC;font-size: 14px;color: #555}

.navbar-nav {
 background-color: #FFF;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: auto;
  width: 100%;
  margin-left: 0%;
  padding: 10px 0;

}
.carousel-indicators li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 14px;
  height: 14px;
    margin: 0 10px;

  background-color: #ff7cb0;
  border: 1px solid #ff7cb0;
}

@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}


/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .xs-padding-0{padding:0!important;}
    .xs-margin-bottom-10{margin-bottom: 10px!important;}
    .xs-margin-top-20{margin-top: 20px!important;}
    .xs-margin-top-30{margin-top: 30px!important;}
    
    .collapse.navbar-collapse{
        position: relative;
        z-index: 10;
    }
   
    #header .navbar{border: none; padding: 5px; margin: 0}
    #header .navbar .active{border: none;}
    #header .navbar .active a{ color:#ff7cb0;}
    
    #footer{padding: 0 15px;}
    #footer .title{padding-top: 20px;}
    #footer #copyright{margin: 20px 0; padding: 0; padding-top: 10px;}

    #main.col-xs-12, #main .col-xs-12{padding: 0;}
    #main .form-group .col-sm-6{padding: 0;}

    .btn{font-size: 14px;}
    
    .carousel .inscription{margin: 15px; margin-bottom: 0; position: relative; width: auto; top: auto; right: auto;}
    .carousel .inscription .top{height: 115px;}
    .carousel .inscription .center{ padding: 10px 22px 20px 20px; }
    .carousel .inscription .center p{margin:0;}
    .carousel .inscription .bottom{height: 40px; background-image: url("../img/bg/bg_home_inscription_bottom.png");} 

    #intro{height: 180px; height: auto;}
    #intro h1{font-size: 26px; padding: 55px 0; height: auto;text-overflow: ellipsis;white-space: nowrap;}
    #intro img{border-width: 1px; padding: 0;}
    #intro .col-xs-8{padding-right: 0;}

    /*GUEST BUNDLE*/
    #main .nav.nav-tabs a{font-size: 1em;}
    .guest-status-container li {width: 50%;margin: 0!important;}
    .guest-status-container li:last-child{width: 100%;}

}

/*DATA TABLE*/
#guest_table_filter {float: none}
#guest_table_filter label{display: block; margin-bottom: 10px;}
#guest_table_filter input{margin: 0; margin-top: 10px; background-position: right -120px; height: 60px;}
#guest_table thead tr{  background-color: #f1f1f1;height: 50px;}
#guest_table thead td{ vertical-align: middle; color: #555555 ; text-transform: uppercase; height: 30px; }

#guest_table{border-collapse: collapse; width: 100%!important;table-layout: fixed;}
#guest_table td{ vertical-align: middle; color: #555555 ; height: 60px;overflow: hidden; text-overflow: ellipsis;white-space: nowrap; }
