
	<div id="intro" class=" margin-bottom-30"> 
		<div id="progress-bar">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-4 padding-0" id="upload-avatar">
						{{ form_start(formAvatar) }}

							{{ form_widget(formAvatar) }}

						{{ form_end(formAvatar) }}


			            <div class="progress hidden" style="width: 150px">
			                <div class="progress-bar progress-bar-success"></div>
			            </div>

						
						{%if avatar != null %}
						    <img id="uploadFile"  class="img-circle img-responsive img-thumbnail" src="{{ asset(avatar.WebPath) }}"alt="{{ avatar.alt }}"/>
						   <!-- <a href="{{ path('my_wedding_couple_profile_avatar_remove') }}">Remove </a>-->
						{%else%}
							<img id="uploadFile"  class="img-circle img-responsive img-thumbnail" src="#"alt=""/>
						{% endif %}
			    </div>
			    <div class="col-md-10 col-xs-8 padding-left-10 ">
			        <h1 class="text-left no-background">Bienvenue<br><b>{{pseudo}}</b></h1>
			        <!--<p>{{current_date}}</p>-->
			        <ul class="row hidden-xs" id="menu-top">
			        	<li class="col-md-3 text-center padding-0"><a href=""><span class="ico40X40 chart white"></span> Votre prodil est complet à 80%</a></li>
			        	<li class="col-md-3 text-center padding-0"><a href=""><span class="ico40X40 message white"></span> Mes messages</a></li>
			        	<li class="col-md-3 text-center padding-0"><a href=""><span class="ico40X40 notification white"></span> Mes notifications</a></li>
			        	<li class="col-md-3 text-center padding-0"><a href=""><span class="ico40X40 help white"></span> Besoin d'aide</a></li>
			        </ul>
			   
				</div>
			</div>
		</div>
	</div>

