{% trans_default_domain 'FOSUserBundle' %}
{% form_theme formCouple.guestNumber 'MyWeddingUserBundle:Form:error.html.twig' %}

{{ form_start(formCouple) }}

    {{ form_errors(formCouple.wife)}}
	<div class="form-group">
	    {{ form_label(formCouple.wife,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formCouple.wife, { 'attr': {'class': 'form-control', 'placeholder':'current password'}  }) }}
		</div>
	</div>
	<div class="clearfix"></div>
    {{ form_errors(formCouple.husband)}}
	<div class="form-group padding-top-10">	    {{ form_label(formCouple.husband,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formCouple.husband, { 'attr': {'class': 'form-control', 'placeholder':'current password'}  }) }}
		</div>
	</div>
	<div class="clearfix"></div>
    {{ form_errors(formCouple.dateEvent)}}
	<div class="form-group padding-top-10">	    {{ form_label(formCouple.dateEvent,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formCouple.dateEvent)}}
		</div>
	</div>
	<div class="clearfix"></div>
    {{ form_errors(formCouple.guestNumber)}}
	<div class="form-group padding-top-10">	    {{ form_label(formCouple.guestNumber,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formCouple.guestNumber, { 'attr': {'class': 'form-control', 'placeholder':'current password'}  }) }}
		</div>
	</div>
	<div class="clearfix"></div>
    {{ form_errors(formCouple.budget)}}
	<div class="form-group padding-top-10">	    {{ form_label(formCouple.budget,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formCouple.budget, { 'attr': {'class': 'form-control', 'placeholder':'current password'}  }) }}
		</div>
	</div>
	<div class="clearfix"></div>
    {{ form_errors(formCouple.address)}}
	<div class="form-group padding-top-10">	    {{ form_label(formCouple.address,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
		    {{ form_widget(formCouple.address)}}
		</div>
	</div>


    <div class="col-md-9 col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>


	{{ form_widget(formCouple._token) }}


{{ form_end(formCouple) }}

