{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingCoupleBundle::layout.html.twig" %}

{% block my_wedding_main_content %}
    
    <div id="main" class="col-md-10 col-xs-12">
                
        <div class="form-container">
            <h2 class="text-left no-background">Editez les informations relatives à votre profile marié</h2>

            {{ render(controller('MyWeddingProfileBundle:Profile:profile')) }}

        </div>
        
        <div class="clearfix"></div>
    </div>
    
    
{% endblock %}