{# src/Wedding/PlateformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WeddingPlateformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block weddingplateform_body %}

  <h2>Page introuvable</h2>

  <div>
      {{message}}
  </div>

{% endblock %}