{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingFrontBundle::layout.html.twig" %}

{% block my_wedding_main_content %}

<div class="bs-example" data-example-id="simple-carousel">
       
        <div id="carousel-example-generic"  class="carousel slide" data-ride="carousel">
               
                <div class="container relative xs-padding-0">

                    
                    <div class="inscription">

                        <div class="top"></div>
                        <div class="center">
                            <p>
                                Aliquam erat volutpat. Praesent pulvinar, mmturpis luctus dictum rhommncus, risus 
                            </p>

                            {{ render(controller('MyWeddingUserBundle:Security:register', {'type':'home'})) }}

                            <span class="secondary small margin-top-20 margin-bottom-10">Ou</span>
                            <div class="text-center">
                            {% for owner in hwi_oauth_resource_owners() %}
                            <a class="ico70X70 {{owner}} margin-right-15 margin-left-15" href="{{ hwi_oauth_login_url(owner) }}"></a>
                            {% endfor %}
                            </div>
                        </div>
                        <div class="bottom"></div>

                    </div>


                    
                </div>
                    
                  
                <div class="carousel-inner hidden-xs" role="listbox">
                   
  
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                  <div class="item active">
                       <div class="container">
                            <div class="inner">
                                <span class="title-primary">lorem ispum</span>
                                <span class="title-secondary">doloris victulumis do</span>
                                <hr>
                                <p>
                                    Curabitur tempor id ligula sed tincidunt. Sed non erat consquat, sagittis risus nec, sagittis justo. Nunc iaculis blandit ipsum. Ut id sem lacus. 
                                </p>
                                <p class="text-center margin-bottom-20 margin-top-30">
                                    <a class="btn btn-lg  double filaire"><span>lorem ispum lolor</span></a>
                                </p>
                            </div>
                       </div>
                  </div>
                  <div class="item">
                      <div class="container">
                            <div class="inner">
                                <span class="title-primary">lorem ispum</span>
                                <span class="title-secondary">doloris victulumis do</span>
                                <hr>
                                <p>
                                    Curabitur tempor id ligula sed tincidunt. Sed non erat consquat, sagittis risus nec, sagittis justo. Nunc iaculis blandit ipsum. Ut id sem lacus. 
                                </p>
                                <p class="text-center margin-bottom-20 margin-top-30">
                                    <a class="btn btn-lg  double filaire"><span>lorem ispum lolor</span></a>
                                </p>
                            </div>
                       </div>
                  </div>
                  <div class="item">
                      <div class="container">
                            <div class="inner">
                                <span class="title-primary">lorem ispum</span>
                                <span class="title-secondary">doloris victulumis do</span>
                                <hr>
                                <p>
                                    Curabitur tempor id ligula sed tincidunt. Sed non erat consquat, sagittis risus nec, sagittis justo. Nunc iaculis blandit ipsum. Ut id sem lacus. 
                                </p>
                                <p class="text-center margin-bottom-20 margin-top-30">
                                    <a class="btn btn-lg  double filaire"><span>lorem ispum lolor</span></a>
                                </p>
                            </div>
                       </div>
                    </div>
                </div>
               
            
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
        </div>
        
    </div><!-- /example -->
    
    <div class="container ">
        
        
        
        <div class=" margin-top-30">
            
            <div id="step" class="col-xs-12 col-sm-8 padding-right-20 padding-left-0 xs-padding-0">
                
                <div class="box border-bottom-1">
                    <h1>Mon mariage</h1>
                    <h2>En 6 étapes</h2>
                    <p class="text-center margin-top-15 margin-bottom-20">
                        Curabitur tempor id ligula sed tincidunt. Sed non erat consCurabitur tempor id ligula sed tincidSed non erat consCurabitur tempor id ligula sed tincidunSed non erat consCurabitur tempor id ligula sed 
                    </p>
                        
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">1</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div>    
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">2</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">3</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 xs-margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">4</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 xs-margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">5</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div> 
                    <div class="col-xs-12 col-sm-4 padding-left-5 text-center padding-right-5 xs-margin-bottom-10">
                        <div class="inner border-bottom-1">
                            <div class="box border-bottom-1">
                                <span class="ico60X60 step1"></span>
                                <span class="step">6</span>
                            </div>
                            <h2>Lorem Ipsum</h2>
                            <p>
                                Curabitur tempor id ligula sed tincidunt. Sed non erat cons
                            </p>
                        </div>
                    </div> 
                    
                    <div class="clearfix"></div>
                    
                    <p class="hidden-xs text-center margin-bottom-20 margin-top-30">
                        <a class="btn btn-lg  double pink"  href="{{path('fos_user_security_login')}}"><span>Demarrer mon wedding planner</span></a>
                    </p>
                    
                       
                    <p class="visible-xs text-right margin-bottom-5 margin-top-10" style="margin-right: -10px;">
                        <a class="btn btn-lg arrow upper" href="{{ path('fos_user_security_login')}}">Demarrer mon planner</a>
                    </p>
                
                    
                    
                </div>
                
            </div>
            <div class="col-xs-12 col-sm-4 padding-right-0 padding-left-10 xs-padding-0 xs-margin-top-30">
                <div id="prestataire" class="box border-bottom-1">
                    <p class="text-center">
                        <img class="img-responsive" src="{{asset('bundles/mywedding/img/ill/ill_home_prestataire.jpg')}}">
                    </p>
                    <h1 id="title">
                        Vous êtes<br>prestataire ?
                    </h1>
                    <div class="box border-bottom-1 ">
                        <b>Curabitur tempor id ligula</b>
                        <br>
                        <br>
                        Curabitur tempor id ligula sed tincidunt. Sed non erat consCurabitur temmmmmiiiiiimmmtttmtmmtpor id ligula sed tincidSed non erat consCurabitur tempor id ligula sed tincidunSed non erat consCurabitur tempor id ligula sed tincidun 
                    </div>
                    
                    <p class="text-right margin-bottom-20">
                        <a class="btn btn-lg arrow upper">Découvrir notre offre</a>
                    </p>
                
                </div>
                <div id="aide" class="box border-bottom-1 margin-top-30 padding-10">
                    <h1 class="secondary">Besoin d'aide ? </h1>
                    <div class="row margin-top-30">
                        <div class="col-xs-7 padding-right-0">
                        Curabitur tempor id ligula sed tincidunt. Sed non erat consCurabitur tempor id ligula sed<br><br>non erat consCurabitur tempor id ligula sed tincid   
                        </div>
                        <div class="col-xs-5 ">
                            <img class="img-responsive"  height="125" width="125" src="{{asset('bundles/mywedding/img/shime/shime_grey.gif')}}">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p class="hidden-xs padding-top-20 text-right">
                        <a class="pink" href="">Démarrer le tutorial d’aide ></a>
                    </p>
                    
                     <p class="visible-xs text-right margin-bottom-5 margin-top-10" style="margin-right: -10px;">
                        <a class="btn btn-lg arrow upper">Démarrer le tutorial</a>
                    </p>
                    
                </div>
            </div>
            <div class="clearfix"></div>
        
        </div>
        <h1 class="margin-top-50 xs-margin-top-20">Espace Invité</h1>
        
        <div class="margin-top-50 xs-margin-top-20 box padding-10 xs-padding-0">
            <form method="POST" action="{{ path('my_wedding_front_guest')}}" class="padding-0 border-bottom-1" id="guest">
                
                <p class="text-center padding-top-20">
                    <input type="email" value="" name="email"> 
                    <button type="submit" class="btn btn-lg  double pink "><span>Me connecter à mon espace invité</span></button>
                </p>
            </form>
            
        </div>
       
    </div>
                        

{% endblock %}