{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingFrontBundle::layout.html.twig" %}

{% block my_wedding_front_main %}

    
    VOUS ETES CONNECT2
                        

{% endblock %}