{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingCoupleBundle::layout.html.twig" %}

{% block my_wedding_main_content %}
    
    <div id="main" class="col-md-10 col-xs-12">
                
        <div class="form-container">
	        <h2 class="text-left no-background">Votre compte</h2>

            {{ render(controller('MyWeddingUserBundle:Account:account')) }}
            
            <h2 class="text-left no-background margin-top-30">Votre mot de passe</h2>


            {{ render(controller('MyWeddingUserBundle:Account:password')) }}

        </div>
        
        <div class="clearfix"></div>
    </div>
    
    
{% endblock %}