{% trans_default_domain 'FOSUserBundle' %}
{% form_theme formCouple.email 'MyWeddingUserBundle:Form:error.html.twig' %}
{{ form_errors(formCouple.username) }}
{{ form_errors(formCouple.email) }}

{{ form_start(formCouple) }}

	<div class="form-group">
	    {{ form_label(formCouple.username,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
		    {{ form_widget(formCouple.username)}}
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="form-group padding-top-10">
	    {{ form_label(formCouple.email,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
		    {{ form_widget(formCouple.email)}}
		</div>
	</div>

	<div class="clearfix"></div>

    <div class="col-md-9 col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>

	<div class="clearfix"></div>

	{{ form_widget(formCouple._token) }}

{{ form_end(formCouple) }}
