{% trans_default_domain 'FOSUserBundle' %}
{% form_theme formPassword.current_password 'MyWeddingUserBundle:Form:error.html.twig' %}
{% form_theme formPassword.plainPassword.first 'MyWeddingUserBundle:Form:error.html.twig' %}
{% form_theme formPassword.plainPassword.second 'MyWeddingUserBundle:Form:error.html.twig' %}

{{ form_errors(formPassword.current_password) }}
{{ form_errors(formPassword.plainPassword.first) }}
{{ form_errors(formPassword.plainPassword.second) }}

{{ form_start(formPassword) }}

	<div class="form-group">
	    {{ form_label(formPassword.current_password,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formPassword.current_password, { 'attr': {'class': 'form-control', 'placeholder':'current password'}  }) }}
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="form-group padding-top-10">
	    {{ form_label(formPassword.plainPassword.first,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formPassword.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'new password'}  }) }}
		</div>
	</div>

	<div class="clearfix"></div>
	<div class="form-group padding-top-10">
	    {{ form_label(formPassword.plainPassword.second,null, {'label_attr':{'class':'col-sm-3 control-label hidden-xs'}}) }}
        <div class="col-sm-6">
            {{ form_widget(formPassword.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'repeat password'}  }) }}
		</div>
	</div>

	<div class="clearfix"></div>

    <div class="col-md-9 col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>

	<div class="clearfix"></div>

	{{ form_widget(formPassword._token) }}

{{ form_end(formPassword) }}
