{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingFrontBundle::layout.html.twig" %}

{% block my_wedding_main_content %}

Ici dashboard invité
<br>
{{couple.email}}

{% endblock %}