{% block text_errors %}
{% spaceless %}
{% if errors|length > 0 %}
{% for error in errors %}
    <span class="error"><b>Oops !</b> {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
{% endfor %}
{% endif %}
{% endspaceless %}
{% endblock text_errors %}

