<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close ico45X45" data-dismiss="modal" aria-label="Close"></button>
        <h4 class="modal-title" id="myModalLabel">Ajouter une dépense</h4>
      </div>
      <div class="modal-body">
        <div class="col-sm-10 col-sm-offset-1 padding-0">
          <a href="#" class="section-budget active col-sm-4 col-sm-offset-1">
            <span class="ico70X70 white expense"></span>
            <br>
            <span class="col-xs-12 libelle">Créer une depenses</span>
          </a>
          <a href="#"  class="section-budget col-sm-4 col-sm-offset-2">
            <span class="ico70X70 category"></span>
            <br>
            <span class="col-xs-12 libelle">Créer un dossier</span>
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Créer</button>
      </div>
    </div>
  </div>
</div>