       <div id="side" class="col-md-2 hidden-xs padding-0">
                <div class=" box  ">
                    <ul>
                        <li>
                            <a href="{{ path('my_wedding_couple_profile') }}"><span class="ico40X40 dashboard"></span>Mon Dashboard</a>
                        </li>
                        <li>
                            <a href="{{ path('my_wedding_couple_account') }}">
                                <span class="ico40X40 profil "></span>Mon profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 planning"></span>Mon planning
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('my_wedding_couple_guest') }}">
                                <span class="ico40X40 guest"></span>mes invités
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('my_wedding_couple_budget') }}">
                                <span class="ico40X40 budget"></span>Mon budget
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 gift"></span>mon plan de table
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 list"></span>MA liste de mariage
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 address"></span>Mes adresses
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 forum"></span>Mon forum
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="ico40X40 help"></span>besoin d’aide
                            </a>
                        </li>
                    </ul>
                </div>

            </div>