<div id="header" class="xs-padding-0">
        <div class="container">
            
        <div class="row padding-bottom-35  hidden-xs">
            <div class="col-xs-4" id="social">
                <a class="ico35X35 facebook"></a>
                <a class="ico35X35 twitter"></a>
                <a class="ico35X35 instagram"></a>
                <a class="ico35X35 pinterest"></a>
                <a class="ico35X35 youtube"></a>
                <a class="ico35X35 google"></a>
            </div>

            <div class="col-xs-4 text-center">MY WEDDING PLANNING</div>

            <div class="col-xs-4">
                <div id="connect" class="pull-right">
                    <p class="margin-0 padding-top-5 padding-bottom-5">
                        <span class="ico45X45 couple pull-left"></span>Mon compte my wedding
                    </p>
                </div>
            </div>
        </div>
       
        <nav class="navbar navbar-default">
            <div class="container-fluid xs-padding-0">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#">MY WEDDING PLANNING</a>
                </div>


                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav hidden-xs">
                        
                        <li class="border-right-1 margin-left-0 padding-right-20 hidden-xs">
                            <a href="{{ path('my_wedding_couple_dashboard') }}" class="ico20X20 home"></a>
                        </li>
                        <li class="active">
                            <a href="{{ path('my_wedding_couple_account') }}">lorem ipsum dolor <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a href="{{ path('my_wedding_front_info') }}">lorem ipsum dolor</a>
                        </li>
                        <li>
                            <a href="#">lorem ipsum dolor</a>
                        </li>
                        <li>
                            <a href="#">lorem ipsum dolor</a>
                        </li>
                        <li>
                            <a href="#">lorem ipsum dolor 2</a>
                        </li>
                        <li>
                            {% if app.request.attributes.get('_route') !=  "my_wedding_front_login" %}
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div  class="pull-right">
                                        <div class=" col-xs-offset-4">
                                            <a class="btn btn-xs upper" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {%endif%}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav visible-xs">
                
                        <li>
                            <a href="{{ path('my_wedding_couple_dashboard') }}">
                                <span class="ico40X40 dashboard xs"></span>Mon Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('my_wedding_couple_account') }}">
                                <span class="ico40X40 profil xs "></span>Mon profile
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="{{ path('my_wedding_couple_profile') }}">
                                <span class="ico40X40 planning xs "></span>Mon planning
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="s{{ path('my_wedding_couple_guest') }}">
                                <span class="ico40X40 guest xs"></span>mes invités
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 budget xs"></span>Mon budget
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 gift xs"></span>mon plan de table
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 list xs"></span>MA liste de mariage
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 address xs"></span>Mes adresses
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 forum xs"></span>Mon forum
                            </a>
                        </li>
                        <li class="visible-xs">
                            <a href="#">
                                <span class="ico40X40 help xs"></span>besoin d’aide
                            </a>
                        </li>
                        <li>
                            {% if app.request.attributes.get('_route') !=  "my_wedding_front_login" %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div  class="pull-right">
                        <div class=" col-xs-offset-4">
                            <a class="btn btn-xs upper" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                        </div>
                    </div>
                {% endif %}
            {%endif%}
                        </li>
                    </ul>
                    <a href="#" class="hidden-xs guest">Espace invités</a>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
    
        </div>
        
    </div>