<footer id="footer">
        
        <div class="container ">
            
            <div class="row">
                <div class="col-xs-12 col-sm-3 padding-right-45 xs-padding-0">
                    <span class="title">Contactez-nous</span>
                    <div class="padding-top-15">
                        <span class="grey">Email</span> : mywedding@lorem.com
                        <br>
                        <span class="grey">Skype</span> : mywedding@lorem.com
                        <br>
                        <br>
                        <span class="grey">Tel</span> : 00 87 49 97 52
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 padding-left-25 padding-right-35 xs-padding-0">
                    <span class="title" >Newsletter</span>
                    <div class="padding-top-15">
                        <span class="grey">Mox dicta finierat, multitudo omnis ad, quae imperator </span>
                    </div>
                    <form data-example-id="input-group-with-button" class="padding-top-20 bs-example bs-example-form">
                        <div class="row">
                         
                          <div class="col-xs-12">
                            <div class="input-group">
                              <input type="text" placeholder="Newsletter..." class="form-control">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default square check"></button>
                              </span>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                     </form>
                </div>
                <div class="col-xs-12 col-sm-3 padding-left-35 padding-right-25 xs-padding-0">
                    <span class="title" >Nous suivre</span>
                    <div class="padding-top-15 text-center">
                        <a class="ico35X35 facebook"></a>
                        <a class="ico35X35 twitter"></a>
                        <a class="ico35X35 instagram"></a>
                        <a class="ico35X35 pinterest"></a>
                        <a class="ico35X35 youtube"></a>
                        <a class="ico35X35 google"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 padding-left-45 xs-padding-0">
                    <span class="title">A propos My Wedding</span>
                    <div class="padding-top-15">
                        <span class="grey">Mox dicta finierat, multitudo omnis ad, quae imperator</span> 
                    </div>
                    <div class="padding-top-20">
                        <a class="btn btn-default filaire col-xs-12 padding-0" >Default button</a>
                    </div>
                </div>
                
                 <p id="copyright" class="col-xs-12 border-top-1 padding-top-15">
                    {{ 'now'|date('Y') }} Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio
                </p>

            </div>
            
           
        </div>

    </footer>