{# src/Wedding/PlatformeBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block title %}
  MyWedding - {{ parent() }}
{% endblock %}

{% block body %}


  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block my_wedding_main_content %}
  {% endblock %}

{% endblock %}