{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
   <div class=" margin-top-30">

       <div id="step" class="col-xs-12">

           <div class="box border-bottom-1 form-container">
               {# S'il y a une erreur, on l'affiche dans un joli cadre #}

                <h2>J'ai oublié mon mot de passe</h2>
                
                <p>
                {{ 'resetting.check_email'|trans({'%email%': email}) }}
                </p>
              
               
               
           </div>

       </div>
     

       <div class="clearfix"></div>
   </div>
</div>
{% endblock %}
