{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="container">
   <div class=" margin-top-30">

       <div id="step" class="col-xs-12">

           <div class="box border-bottom-1 form-container">
           	                <h2>J'ai oublié mon mot de passe</h2>

<p>{{ 'resetting.password_already_requested'|trans }}</p>
</div>
</div>

</div>

</div>
{% endblock fos_user_content %}
