{% trans_default_domain 'FOSUserBundle' %}


<div class="container">
   <div class=" margin-top-30">

       <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" id="step" class="col-xs-12">

           <div class="box border-bottom-1 form-container">
               {# S'il y a une erreur, on l'affiche dans un joli cadre #}

                <h2>J'ai oublié mon mot de passe</h2>
                
                <p>
                    Saisissez votre mot de passe ou bien votre adresse mail, un mail de réinitialisation de votre mot de passe va vous être envoyé.
                </p>
              
                <div>
                   {% if invalid_username is defined %}
                      <span class="error"><b>Oops !</b>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
                   {% endif %}
                </div>
                <div class="col-xs-12 col-md-6 padding-0 padding-top-10">
                    <input type="email" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans }}" class="col-xs-12">       
                </div>
                <div class="clearfix"></div>
                <div class="padding-top-20">
                    <button class="btn upper col-xs-12 col-md-3 btn-default" type="submit">{{ 'resetting.request.submit'|trans }}</button>
                </div>
                
                <div class="clearfix"></div>

               
           </div>

       </f>
     

       <div class="clearfix"></div>
   </div>
</div>