{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'MyWeddingUserBundle:Form:error.html.twig' %}


<div class="container">
   <div class=" margin-top-30">

		<form id="step" class="col-xs-12" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">

           <div class="box border-bottom-1 form-container">

  
              <h2>Réinitailiser votre mot de passe</h2>

              {{ form_errors(form.plainPassword.first) }}
              {{ form_errors(form.plainPassword.second) }}

              <div class="clearfix"></div>


              <div class="col-xs-12 col-md-6 padding-0 padding-top-10">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'col-xs-12', 'placeholder': 'Enter your password', 'value':''}  }) }}
              </div>

              <div class="clearfix"></div>

              <div class="col-xs-12 col-md-6 padding-0 padding-top-10">
                  {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'col-xs-12', 'placeholder': 'Confirm your password', 'value':''}  }) }}
              </div>
                                             

              <div class="clearfix"></div>

              <div class="padding-top-20">
                  <button class="btn upper col-xs-12 col-md-3 btn-default" type="submit">{{ 'resetting.request.submit'|trans }}</button>
              </div>  
              {{ form_rest(form) }}
              <div class="clearfix"></div>



          </div>

    </form>     

   </div>
</div>
