{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingFrontBundle::layout.html.twig" %}

  {% block my_wedding_main_content %}

    
<div class="alert alert-success" role="alert">{{message}}</div>

                        

{% endblock %}