{{ form_start(formGuest, {'attr': {'id': 'edit_guest', 'class' : 'padding-top-20', 'novalidate': 'novalidate'}}) }}

	<div class="form-group">
	    {{ form_label(formGuest.email,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.email, { 'attr': {'class': 'form-control', 'placeholder':'Email'}})}}
			<div class="error_email error">
			    {{ form_errors(formGuest.email)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.firstname,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.firstname, { 'attr': {'class': 'form-control', 'placeholder':'Prénom'}})}}
			<div class="error_firstname error">
			    {{ form_errors(formGuest.firstname)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.lastname,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.lastname, { 'attr': {'class': 'form-control', 'placeholder':'Nom'}})}}
			<div class="error_lastname error">
			    {{ form_errors(formGuest.lastname)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.address,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.address, { 'attr': {'class': 'form-control', 'placeholder':'Adresse'}})}}
		    <div class="error_address error">
			    {{ form_errors(formGuest.address)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>
	
	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.guestRelation,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
        	<div class="col-sm-10 padding-left-0">
			    {{ form_widget(formGuest.guestRelation)}}
			</div>
        	<a id="addRelation" class="btn  upper col-xs-2 pink padding-left-0">
				<i class="glyphicon glyphicon-plus"></i>
        	</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<div id="other"></div>
	<div class="error_guestRelation error"></div>
	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.id_status,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.id_status)}}
		    <div class="error_id_status error">
			    {{ form_errors(formGuest.id_status)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formGuest.isDiner,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formGuest.isDiner)}}
		    <div class="error_isDiner error">
			    {{ form_errors(formGuest.isDiner)}}
			</div>
		</div>
	</div>

    <div class=" col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>

    <input type="hidden" value="{{ path('my_wedding_couple_guest_add') }}" id='target_edit'>
    <input type="hidden" value="{{route}}" id='target_add'>

	<div class="clearfix"></div>

	{{ form_widget(formGuest._token) }}

{{ form_end(formGuest) }}


<form method="post" action="" class="padding-top-20" novalidate="novalidate">

	
	<div class="form-group padding-top-10">
	    <label class="col-sm-4 control-label hidden-xs required" for="guest_creation_address">EMails</label>
        <div class="col-sm-8">
		    <textarea id="" name="emails" required="required" rows="10" class="form-control" placeholder="Adresse"></textarea>
		    <div class="error_emails error">
			    
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	    <div class=" col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>


</form>