{{ form_start(formMessage) }}

	<div class="form-group padding-top-10">
	    {{ form_label(formMessage.subject,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formMessage.subject, { 'attr': {'class': 'form-control', 'placeholder':'Nom'}})}}
			<div class="error_lastname error">
			    {{ form_errors(formMessage.subject)}}
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

	<div class="form-group padding-top-10">
	    {{ form_label(formMessage.message,null, {'label_attr':{'class':'col-sm-4 control-label hidden-xs'}}) }}
        <div class="col-sm-8">
		    {{ form_widget(formMessage.message, { 'attr': {'rows':'10', 'class': 'form-control', 'placeholder':'Adresse'}})}}
		    <div class="error_address error">
			    {{ form_errors(formMessage.message)}}
			</div>
		</div>
	</div>

	{% for guest in guests %}
        <input type="hidden" name="id_guest[]" value="{{ guest.getId()|e }}">
	{% endfor %}



    <div class=" col-xs-12 padding-top-10 ">
        <button type="submit" class="btn  upper  pull-right col-md-3 col-xs-12 btn-default arrow2" >Valider</button>
    </div>

	<div class="clearfix"></div>

	{{ form_widget(formMessage._token) }}

{{ form_end(formMessage) }}
