{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MyWeddingGuestBundle::layout.html.twig" %}

{% block my_wedding_main_content %}
      <div id="main" class="col-md-10 col-xs-12">

        <h2 class="text-left no-background">Envoyer un message mes invités</h2>

		<ul class="col-sm-8 pull-right">
		    {% for guest in guests %}
		        <li>{{ guest.getEmail()|e }}</li>
		    {% endfor %}
		</ul>

          {% include 'MyWeddingGuestBundle:Guest:form_message.html.twig' %}


      </div>

      <div class="clearfix"></div>

{% endblock %}