{# src/Wedding/PlateformBundle/Resources/views/Advert/index.html.twig #}
{% extends "MyWeddingGuestBundle::layout.html.twig" %}
{% block stylesheets %}
      {{parent()}}
      <link rel="stylesheet" href="{{asset('bundles/MyWedding/BudgetBundle/css/budget.css')}}">
{% endblock %}

{% block javascripts %}
      {{parent()}}
      <script src="{{asset('bundles/MyWedding/BudgetBundle/js/budget.js')}}"></script>
{% endblock %}


{% block my_wedding_main_content %}
      <div id="budget" class="col-md-10 col-xs-12">

        <h2 class="text-left no-background">Mon budget</h2>
        
        {% include 'MyWeddingBudgetBundle:Components:total.html.twig'%}

        <div class="adding">
          <a class="ico40X40 add"></a> Ajouter une dépense ou une catégorie de dépense
        </div>

        <div class="entries row-fluid">

          {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}

          {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'orange'} only%}

          <div class="group">
            <div class="header">
              <div class="col-sm-10">
                 MES FRINGUES of MY MARIAGES, YEAAARRR !!!
              </div>
              <div class="col-sm-2 padding-left-0 padding-right-10 text-right">
                <a class="ico40X40 edit white"></a>
                <a class="ico40X40 move white"></a>
                <a class="ico40X40 remove white"></a>
              </div>
              <div class="clearfix"></div>
               
            </div>
            
            <div class="body">
                {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}
                {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}
                {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}
                {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}
                {% include 'MyWeddingBudgetBundle:Components:entry.html.twig' with {'color':'grey'} only%}
            </div>

            <div class="footer col-sm-12">
              <b>TOTAL :</b> 23500,00 €
            </div>

            <div class="clearfix"></div>

          </div>

        </div>

        {% include 'MyWeddingBudgetBundle:Components:total.html.twig'%}

      </div>

      <div class="clearfix"></div>

{% endblock %}